@import "../../styles/config";

ol {
    list-style: none;
}

.title {
    text-decoration: none;
    font-size: $blogTitle-font-size;
}

.date {
    margin-top: -0.75rem;
    font-size: $blogDate-font-size;
}