@import "../../styles/config";

form {
    margin-left: 0%;

    ul {
        list-style: none;
        display: inline;
        padding-left: 0;

        li {
            display: inline;
            margin-right: 10px;
        }
    }
}

.datainput {
    width: 300px;
    resize: none;
    margin-bottom: 1rem;
    border: 1px white solid;

}
