@import "../../styles/config";

.container {
    margin: 0 auto;

}

form {
    margin-left: 0%;
}
.datainput {
    width: 50%;
    resize: none;
    margin-bottom: 1rem;
    border: 1px white solid;
}