@import "../../styles/config";

.footer {
    position: fixed;
    bottom: 0rem;
    width: 100%;
    background: black;

    @include media-query(md) {
        padding-left: 22%;
        padding-bottom: 8%;
    }
}

.copyright {
    font-size: $footer-font-size;
}

.socialicons {
    display: inline;
}

.copyright, .socialicons {
    grid-row: 1 / 2;
}

.socialicons i {
    font-size: $footer-font-size * 1.5;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-right: 2rem;
    &:hover {
        color: $secondary-color;
    }
}