* {
  background: black;
  color: white;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  line-height: 1.5rem;
}

a:hover {
  color: #f15060;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: black;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: white;
}

/*
@mixin layout-grid {
    display: grid;
    grid-template-columns: 350px 400px;
    grid-template-rows: 115px 200px;
    width: 100%;
    justify-self: center;
}
*/
.menutoggle {
  display: block;
  position: relative;
  top: 2rem;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.menutoggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  visibility: hidden;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

@media (max-width: 650px) {
  .menutoggle input {
    visibility: visible;
  }
}

.menutoggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  visibility: hidden;
  background: white;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

@media (max-width: 650px) {
  .menutoggle span {
    visibility: visible;
  }
}

.menutoggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.menutoggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.menutoggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

.menutoggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.menutoggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

/*
.navcontainer {
  position: absolute;
  width: 90vw;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: black;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  // to stop flickering of text in safari

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  @include media-query(sm) {
    transform: translate(0, 0);
    height: 0;
    width: 80%;
    left: 20%;
  }
}
*/
.navcontainer {
  margin-left: -40px;
}

@media (max-width: 650px) {
  .navcontainer {
    position: absolute;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    width: 100vw;
    height: 100vh;
  }
}

.navcontainer li {
  font-size: 3rem;
  display: inline;
  padding-right: 40px;
}

@media (max-width: 650px) {
  .navcontainer li {
    display: block;
  }
}

.menutoggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

.nav__list {
  line-height: 2rem;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.nav__link:hover {
  color: #f15060;
}

.nav__linkactive {
  color: #f15060;
}
/*# sourceMappingURL=header.module.css.map */