@import "../../styles/config";
/*
.gridContainer {
  @include media-query(md) {
    @include layout-grid;
  }
}
*/


.body,
.sliding__divRole {
  font-size: $large-font-size + 1;
  line-height: 3.5rem;
}

.bodyContainer {
  p {
    padding-top: 40px;
  }

  a {
    text-decoration: none;
    color: $secondary-color;
  }
}

/*Horizontal Sliding*/
.sliding__divContainer {
  display: inline;

  @include media-query (md) {
  grid-template-columns: 1 / 2;
  grid-template-rows: 2 / 3;
  }
}

.sliding__divContainer span {
  animation: leftToRight 7.5s linear infinite 0s;
  -ms-animation: leftToRight 7.5s linear infinite 0s;
  -webkit-animation: leftToRight 7.5s linear infinite 0s;
  color: #fff;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.sliding__divContainer span:nth-child(2) {
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.sliding__divContainer span:nth-child(3) {
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}

/*leftToRight Animation*/
@keyframes leftToRight {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateX(-50px);
  }
  10% {
    opacity: 1;
    transform: translateX(0px);
  }
  25% {
    opacity: 1;
    transform: translateX(0px);
  }
  30% {
    opacity: 0;
    transform: translateX(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes leftToRight {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -moz-transform: translateX(-50px);
  }
  10% {
    opacity: 1;
    -moz-transform: translateX(0px);
  }
  25% {
    opacity: 1;
    -moz-transform: translateX(0px);
  }
  30% {
    opacity: 0;
    -moz-transform: translateX(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes leftToRight {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateX(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes leftToRight {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -ms-transform: translateX(-50px);
  }
  10% {
    opacity: 1;
    -ms-transform: translateX(0px);
  }
  25% {
    opacity: 1;
    -ms-transform: translateX(0px);
  }
  30% {
    opacity: 0;
    -ms-transform: translateX(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
