@import "../../styles/config";

.container {
    position: relative;
    min-height: 80vh;
    min-width: 70vw;
    max-width: 90vw;
    margin: 1rem
}

.content {
    margin-top: 5rem;
    margin-bottom: 5rem;
    
    @include media-query(md) {
        margin: 10% 25%;
    }
}
