@import "../../styles/config";

.container {
    position: relative;
    min-height: 80vh;
    min-width: 70vw;
    max-width: 90vw;
    margin: 2rem
}

.content {
    margin-bottom: 5rem;
    
    @include media-query(sm) {
        margin: 10% 25%;
        padding-top: 2rem;
    }

    @include media-query(lg) {
        padding-top: 0rem;
    }
}
