@font-face {
    font-family: Baskerville;
    src: url(fonts/LibreBaskerville-Bold.ttf);
    font-display: block;
}

@font-face {
    font-family: Amiri;
    src: url(fonts/Amiri-Regular.ttf);
    font-display: block;
}

@font-face {
    font-family: HindGuntur-Regular;
    src: url(fonts/HindGuntur-Regular.ttf);
    font-display: block;

}
/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    color: #eeeeee;
    background-color: #111111;
    font-family: HindGuntur-Regular, sans-serif;
    padding: 0rem 0.5rem;
    width: 50vw;
    opacity: 0;
    margin: 0 25vw;
    animation: fadeIn ease-in 4s;
    animation-fill-mode: forwards;
    -webkit-animation: fadeIn ease-in 4s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    font-family: Baskerville, serif;
    font-size: 2.8rem;
}

h2 {
    font-family: Amiri, serif;
    font-size: 2.4rem;
    font-weight: 400;
    margin: -1rem 0;
}

ul {
    list-style: none;
    padding: 0;
}

p,
li {
    font-size: 1.4rem;
    line-height: 1.5;
}

a {
    color: #eeeeee;
    transition: color 0.5s;
}

a:hover {
    color: #f15060;
}

.gallery {
    line-height: 0;
    height: 320px;
    overflow-x: scroll;
    overflow-y: hidden;
    touch-action: pan-x;
    white-space: nowrap;
}

.gallery img {
    filter: grayscale(0%) brightness(1);
  transition: filter 0.25s 0s linear !important;
}

.gallery img:hover {
       filter: grayscale(100%) brightness(0.5);

}

::-webkit-scrollbar-track {
  background-color: "#111111";
}

::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #eeeeee;
}


.artwork-container {
    display: flex;
    flex-direction: row;
  }

.artwork-details {
   display: grid;
   margin-left: 10px;
grid-template-columns: repeat(2, 150px);
grid-template-rows: repeat(3, 25px) auto 25px 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
    width: 320px;
}

.artwork-details p {
    margin: 0;
    /*
    word-wrap: break-word;
    word-break: break-all;
    */
}

p:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
p:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
p:nth-child(3) { grid-area: 2 / 1 / 3 / 2; }
p:nth-child(4) { grid-area: 2 / 2 / 3 / 3; }
p:nth-child(5) { grid-area: 3 / 1 / 4 / 2; }
p:nth-child(6) { grid-area: 3 / 2 / 4 / 3; }
p:nth-child(7) { grid-area: 4 / 1 / 5 / 2; }
p:nth-child(8) { grid-area: 4 / 2 / 5 / 3; }
p:nth-child(9) { grid-area: 5 / 1 / 6 / 3; }
p:nth-child(10) { grid-area: 6 / 1 / 7 / 3; }

p#collector {
    word-wrap: break-word;
    word-break: break-all;
}

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #eeeeee;
    background: -moz-linear-gradient(left, #eeeeee 10%, rgba(238,238,238, 0) 42%);
    background: -webkit-linear-gradient(left, #eeeeee 10%, rgba(238,238,238, 0) 42%);
    background: -o-linear-gradient(left, #eeeeee 10%, rgba(238,238,238, 0) 42%);
    background: -ms-linear-gradient(left, #eeeeee 10%, rgba(238,238,238, 0) 42%);
    background: linear-gradient(to right, #eeeeee 10%, rgba(238,238,238, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #eeeeee;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: #111111;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  

@media only screen and (min-width: 10px) and (max-width: 800px) {
    html {
        font-size: 55%;
    }

    body {
        width: 90vw;
        margin: 0 5vw;
    }
    
}
@media only screen and (min-width: 10px) and (max-width: 600px) {
.artwork-container {
        flex-direction: column;
    }
    .artwork-details {
        margin-left: 0;
    }
}

@media only screen and (min-width: 1600px) {
    html {
        font-size: 80%;
    }
}
