@font-face {
    font-family: Baskerville;
    src: url(fonts/LibreBaskerville-Bold.ttf);
    font-display: block;
}

@font-face {
    font-family: Amiri;
    src: url(fonts/Amiri-Regular.ttf);
    font-display: block;
}

@font-face {
    font-family: HindGuntur-Regular;
    src: url(fonts/HindGuntur-Regular.ttf);
    font-display: block;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    z-index: 1;
    color: #eeeeee;
    background-color: #111111;
    font-family: HindGuntur-Regular, sans-serif;
    opacity: 0;
    margin: 0;
    padding: 0;
    animation: fadeIn ease-in 4s;
    animation-fill-mode: forwards;
    -webkit-animation: fadeIn ease-in 4s;
    -webkit-animation-fill-mode: forwards;
}

nav {
    position: fixed;
    background-color: #111111;
    width: 100vw;
    height: 46px;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

.navitem a {
    font-family: Amiri, serif;
    font-size: 2.1rem;
    padding: 1.8rem;
    text-decoration: none;
    
}

section {
    padding: 25px 0px 25px 0px;
}


#bg {
    object-fit: cover;
  width: 250vw;
  height: 250vh;
  position: fixed;
  bottom: -75vh;
  left: -75vw;
  z-index: -99;
  }

#introduction {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 25vh auto 25vh;
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
  }

  #introduction > div {
      z-index: -99;
      grid-area: 2 / 2 / 3 / 3;
      /*rowstart/columnstart/rowend/column/end*/background: #111111;
      padding: 15px;
      -webkit-border-bottom-right-radius: 0;
      -moz-border-radius-bottomright: 0;
      border-radius: 50px;
      border-bottom-right-radius: 0;
      -webkit-box-shadow: 0px 0px .5rem .5rem #eeeeee;
      box-shadow: 0px 0px .5rem .5rem #eeeeee;
      
}

#work, #contact {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    background: #111111;
}

#work > div, #contact > div {
    grid-area: 1 / 2 / 2 / 3;
}



#index-gallery {
    background: #eeeeee;
    display: flex;
    justify-content: center;
}

.index-gallery-container {
    display: grid;
    
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 0;
}

figure {
    margin: 0;
}

.index-gallery_item-0 {
    grid-area: 1 / 1 / 3 / 3;
  }

  .index-gallery_item-1 {
      grid-area: 1 / 3 / 2 / 4;
  }
  .index-gallery_item-2 {
      grid-area: 2 / 3 / 3 / 4;
}
.index-gallery_item-3 {
    grid-area: 3 / 1 / 4 / 2; 
}
.index-gallery_item-4 {
    grid-area: 3 / 2 / 4 / 3;
}
.index-gallery_item-5 {
    grid-area: 3 / 3 / 4 / 4;
}

.index-gallery_img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    display: block !important;
    filter: grayscale(0%) brightness(1);
    transition: filter 0.25s 0s linear !important;
    -webkit-transition: filter 0.25s 0s linear !important;
    -moz-transition: filter 0.25s 0s linear !important;
    -ms-transition: filter 0.25s 0s linear !important;
    -o-transition: filter 0.25s 0s linear !important;
    -webkit-filter: grayscale(0%) brightness(1);
}

.index-gallery_img:hover {
    filter: grayscale(100%) brightness(0.5);
    -webkit-filter: grayscale(100%) brightness(0.5);
}

#contact {
    background: #eeeeee;
    color: #111111;
}

#contact > div {
    display: flex;
  justify-content: space-around;
}

#icon {
    color: black;
    font-size: 3.8rem;
    width: 5.8rem;
    padding: 5px;
    text-align: center;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    font-family: Baskerville, serif;
    font-size: 2.8rem;
}

h2 {
    font-family: Amiri, serif;
    font-size: 2.4rem;
    font-weight: 400;
    margin: -1rem 0;
}

ul {
    list-style: none;
    padding: 0;
}

p,
li {
    font-size: 1.4rem;
    line-height: 1.5;
}

a {
    color: #eeeeee;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
}

a:hover {
    color: #f15060;
}

.gallery img {
  filter: grayscale(0%) brightness(1);
  transition: filter 0.25s 0s linear !important;
  -webkit-transition: filter 0.25s 0s linear !important;
  -moz-transition: filter 0.25s 0s linear !important;
  -ms-transition: filter 0.25s 0s linear !important;
  -o-transition: filter 0.25s 0s linear !important;
}

.gallery img:hover {
       filter: grayscale(100%) brightness(0.5);

}



::-webkit-scrollbar-track {
  background-color: "#111111";
}

::-webkit-scrollbar {
  height: 10px;
  width: .75vw;
}

::-webkit-scrollbar-thumb {
  background-color: #eeeeee;
}



.artpage {
    width: 90vw;
    padding-top: 60px;
    margin: 0 5vw;
}

.artwork-image {
    width: 50vw;
}
.artwork-image video {
    width: 100%;
    max-height: 80vh;
    outline: none;
}


.artwork-container {
    display: flex;
    flex-direction: row;
  }

 

.artwork-details {
   display: grid;
   margin-left: 10px;
grid-template-columns: repeat(2, 140px);
grid-template-rows: repeat(2, 25px) auto 20px auto 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
    width: 320px;
    height: 100%;
}

.artwork-details p {
    margin: 0;
    /*
    word-wrap: break-word;
    word-break: break-all;
    */
}

p:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
p:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
p:nth-child(3) { grid-area: 2 / 1 / 3 / 2; }
p:nth-child(4) { grid-area: 2 / 2 / 3 / 3; }

p:nth-child(5) { grid-area: 3 / 1 / 4 / 2; }
p:nth-child(6) { grid-area: 3 / 2 / 4 / 3; }
p:nth-child(7) { grid-area: 4 / 1 / 5 / 2; }
p:nth-child(8) { grid-area: 6 / 1 / 7 / 3; }

#shopLink {
    margin-top: 2.0rem;
}

.button-lg {
    color: #eeeeee;
    background-color: #111111;
    border: 1px solid #eeeeee;
    border-radius: 50px;
    margin: 10px 0;
    text-align: center;
    padding: 1.2rem 2.8rem;
    width: 6.2rem;
    font-size: 1.4rem;
    font-family: HindGuntur-Regular, sans-serif;
    text-decoration: none;
    grid-area: 7 / 1 / 8 / 3;

}


p#collector {
    word-wrap: break-word;
    word-break: break-all;
}

@media only screen and (min-width: 10px) and (max-width: 600px) {
    .artwork-container {
            flex-direction: column;
        }

        .artwork-image {
            width: 80vw;
        }
        .artwork-details {
            margin-left: 0;
            margin-top: 10px;

        }
    
        #video {
            visibility: hidden;
        }
    
        #introduction {
            grid-template-columns: 0.1fr 1fr 0.1fr;
        grid-template-rows: 10vh auto 10vh;
        }

        #work {
            grid-template-columns: 0.1fr 1fr 0.1fr;

        }
    }

    

@media only screen and (min-width: 10px) and (max-width: 800px) {
    html {
        font-size: 55%;
    }

    
}


@media only screen and (min-width: 1600px) {
    html {
        font-size: 80%;
    }
}

#main-gallery-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 46px;
    width: 100%;
}

#main-gallery-item {
    width: 30%;
    height: 100px;
    margin: 0.2vw; /*0.2vw on small screens*/
    border: 0.5rem solid #eeeeee;
    filter: grayscale(0%) brightness(1);
    transition: filter 0.25s 0s linear !important;
    -webkit-transition: filter 0.25s 0s linear !important;
    -moz-transition: filter 0.25s 0s linear !important;
    -ms-transition: filter 0.25s 0s linear !important;
    -o-transition: filter 0.25s 0s linear !important;
    -webkit-filter: grayscale(0%) brightness(1);
    
}

#main-gallery-item:hover {
    filter: grayscale(100%) brightness(0.5) !important;
    -webkit-filter: grayscale(100%) brightness(0.5) !important;
}


figure:last-child {
    flex-grow: 100;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 40s linear infinite;
    -moz-animation: rotating 40s linear infinite;
    -ms-animation: rotating 40s linear infinite;
    -o-animation: rotating 40s linear infinite;
    animation: rotating 40s linear infinite;
  }