body {
    background-color: #ddd;
    color:black;
    font-family: monospace;
    font-size: 14px;
    line-height: 28px;
}

main body {
    width: 80vw;
}

ul {
    padding-left: 0;
    list-style: none;
}


a {
    color: #111;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
}

a:hover {
    color: #f15060;
}