@import "../../styles/config";



.blogList {
  list-style: none;

  li {
    margin-left: -40px;
  }

}

.title {
  text-decoration: none;
  font-size: $blogTitle-font-size;
  line-height: 2rem;

  
}

.date {
  margin-top: -0.75rem;
  font-size: $blogDate-font-size;
}

.body {
  margin: 0rem 0rem;
}
