@import "../../styles/config";

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;

    a {
        text-decoration: none;
    }

   @media (max-height: 500px) {
       position: relative;
   }
}

.mailingListLink {
    color: $secondary-color;
}


.copyright {
    font-size: $footer-font-size;
}

.socialicons {
    display: inline;
}

.socialicons i {
    font-size: $footer-font-size * 1.5;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-right: 2rem;
    &:hover {
        color: $secondary-color;
    }
}